<p>
	Hi, I'm <span class="fancy-text">Nerscylla</span>, a <span class="fancy-text">student</span> from <span
		class="fancy-text">Germany</span> with an interest in full-stack <span class="fancy-text"> web development
	</span> and problem-solving, though I find other areas of computer science fascinating as well. I enjoy tackling
	complex challenges and <span class="fancy-text">exploring</span> how <span class="fancy-text">software</span> works
	at its core. Outside of tech and school, I teach <span class="fancy-text">Tae Kwon Do</span> lessons, which gives me
	a sense of responsibility as an <span class="fancy-text">instructor</span>.
</p>