:root {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


/* set default text color, remove body margin */
body {
    color: var(--text);
    margin: 0;
}


/* change some default font sizes */
h1 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}


/* style sections in general */
.section {
    width: 90%;
    padding-inline: 5%;
}


/* stlye about me */
.about-article {
    max-width: 530px;
}

.about-section {
    margin-top: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}


/* about me in row instead of column on big screens */
@media only screen and (min-width: 800px) {
    .about-article:nth-child(2) {
        text-align: end;
    }

    .about-section {
        flex-direction: row;
    }

    .about-section {
        margin-top: 0;
    }
}


/* limit about me text width when next to each other and to close */
@media only screen and (800px <= width <= 1200px) {
    .about-article {
        max-width: 40%;
    }
}


/* add top padding to not about me sections to not hide content behind nav bar */
.section:not(.about-section) {
    padding-top: 7rem;
}



/* project section */

/* default styles for projects */
.project {
    background-color: var(--bg-mix);
    border-radius: 15px;
}

.project-wrapper {
    display: flex;
    padding-inline: 3%;
    justify-content: space-between;
    align-items: center;
}

.project-link {
    text-decoration: none;
}

.project-wrapper>* {
    max-width: 50%;
    color: var(--text);
    padding-inline: 5%;
    word-wrap: break-word;
}

.project-description {
    text-align: end;
}


/* stack heading and description instead of column on small screens */
@media only screen and (max-width: 700px) {
    .project-wrapper {
        flex-direction: column;
    }

    .project-description {
        text-align: left;
    }
}

/* spacing between projects / pseudoelements */
.project-link::after,
.project-link::before {
    content: "";
    width: 0;
    height: 10px;
    position: relative;
    display: block;
}


/* hover animation for projects */
@media (hover: hover) {
    .project-link::before {
        --rotation: 90deg;
    }

    .project-link::after {
        --rotation: -90deg;
    }

    .project-link::after,
    .project-link::before {
        border-radius: 100vh;
        left: 50%;
        --percentage: 50%;
        background: linear-gradient(var(--rotation), var(--buttons--secondary) var(--percentage), var(--buttons--mix));
        transition: left 100ms, width 100ms;
    }

    .project-link:hover::after,
    .project-link:hover::before {
        width: 100%;
        left: 0;
        transition: left 500ms, width 500ms;
    }
}


/* blog section */

/* full size iframe */
.blog {
    width: 100%;
    height: calc(100vh - 7rem);
    border-radius: 10px;
}
