:root {
    --main-bg-color: #2B3D41;
    --secondary-bg-color: #4C5F6B;
    --text-color: #E0E2DB;
    --highlight-color: #A37774;
    --lighter-secondary-bg-color: #5B6F7A;
    overflow: hidden;
    scroll-behavior: smooth;
    transition: 500ms;
}

body {
    background-color: var(--main-bg-color);
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
    margin: 0;
    color-scheme: light dark;
}

.sections {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

label {
    color: var(--text-color);
}

#progress-bar {
    background-color: var(--highlight-color);
    height: 1vh;
    width: 100%;
    z-index: 10000;
    margin-bottom: 1vh;
    position: relative;
}

@media screen and (prefers-reduced-motion: no-preference) {
    #progress-bar,
    .sections {
        transition: 500ms;
    }
}

#section0{ background-color: var(--main-bg-color);}
#section1{ background-color: var(--main-bg-color);}
#section2{ background-color: var(--main-bg-color);}
#section3{ background-color: var(--main-bg-color);}
#section4{ background-color: var(--main-bg-color);}