#contact-form>input, #contact-form>textarea {
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    padding: 0.5vh;
    border: var(--lighter-secondary-bg-color) 5px solid;
    border-radius: 10px;
    font-size: 1.5em;
}

#contact-form>input:focus, #contact-form>textarea:focus {
    outline: var(--highlight-color) thick solid;
}

#contact-form>input[type="email"] {
    position: absolute;
    top: 7.5vh;
    left: 50vw;
    transform: translate(-50%, 0);
    height: 2rem;
    width: fit-content;
    text-align: center;
}

#contact-form>textarea {
    position: absolute;
    top: calc(5vh + 2rem + 10vh);
    left: 50vw;
    transform: translateX(-50%);
    width: 75%;
    height: 35%;
    text-align: center;
    resize: vertical;
}

#contact-form>input[type="submit"] {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
