#projects-container {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    position: absolute;
    height: fit-content;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#project-wrapper {
    display: flex;
    position: relative;
    height: 60%;
    overflow: hidden;
    top: 5vh;
    justify-content: center;
    align-items: center;
}

#projects-container>* {
    word-break: break-all;
}

#projects-container>a>:first-child {
    position: relative;
    font-size: clamp(1rem, 6vw, 2rem);
    color: var(--text-color);
    max-width: 70%;
}

#projects-container>a>:last-child {
    font-size: 1rem;
    color: var(--text-color);
}

@media only screen and (min-width: 570px) {
    #projects-container>a>:first-child::before {
        content: counter(projects) ". ";
        display: inline;
        position: relative;
        left: 0;
        font-size: clamp(1rem, 6vw, 2rem);
    }
    .project {
        counter-increment: projects;
    }
}

.project {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--secondary-bg-color);
    border-radius: 1vh;
    text-align: center;
    position: relative;
    width: 90%;

}