#contact-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-height: 300px) {
    #contact-form * {
        margin: 1%;
    }
}

#contact-form > div {
    display: flex;
    flex-direction: row;
}

#contact-form > span {
    width: 75%;
    text-align: center;
}

#contact-message {
    resize: none;
}

#contact-form input,
#contact-form textarea {
    background-color: var(--secondary-bg-color);
    border: var(--text-color 2px solid);
    border-radius: 1vh;
    position: relative;
    height: 40%;
    width: 100%;
}

#contact-form input[type="submit"] {
    max-width: 75%;
    min-width: fit-content;
}

@media only screen and (max-width: 600px) {
    #contact-form>div{
        flex-direction: column;
    }
}

#contact-form {
    color: var(--text-color);
}