:host {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.page {
	padding: 10vh 0;
	width: clamp(320px, 90vw, 1440px);
	@media (max-width: 400px) {
		width: 100vw;
		app-about-me {
			margin-inline: 5%;
		}
	}
}

.page#start {
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
	padding-top: 0;
	app-about-me {
		width: clamp(300px, 60%, 1440px);
	}
}

div.heading-cont {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 5vh;
	h2 {
		text-align: center;
		border-bottom: 3px var(--accent) solid;
		width: fit-content;
		margin-bottom: 25px;
		font-size: 2em;
		padding-bottom: 5px;
	}
}

div.project-cont {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: clamp(40px, 2.5vw, 75px);

	@media (max-width: 900px) {
		grid-template-columns: 1fr;
	}

	@media (max-width: 600px) {
		padding: 0;
	}
}

.skillgrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: clamp(40px, 2.5vw, 75px);
	@media (max-width: 1200px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}
