<app-nav-bar></app-nav-bar>

<div id="start" class="page">
	<app-about-me id="start"></app-about-me>
</div>

<div id="projects" class="page">
	<div class="heading-cont">
		<h2>Projects</h2>
	</div>
	<div class="project-cont">
		<app-project-card project="Nerscylla/minimal-backend-framework.rs" />
		<app-project-card project="Nerscylla/angular-startpage" />
		<app-project-card project="Nerscylla/wallpaper-factory" />
		<app-project-card project="Nerscylla/chat-app-ws" />
	</div>
</div>

<div id="skills" class="page">
	<div class="heading-cont">
		<h2>My Skills</h2>
	</div>
	<div class="skillgrid">
		<app-skill-card skill="AngularJS" />
		<app-skill-card skill="TypeScript" />
		<app-skill-card skill="PHP" />
		<app-skill-card skill="Python" />
	</div>
</div>