<app-nav-bar></app-nav-bar>

<div id="start" class="page">
	<app-about-me id="start"></app-about-me>
</div>

<div id="projects" class="page">
	<div class="heading-cont">
		<h2>Projects</h2>
	</div>
	<div class="project-cont">
		<app-project-card project="Nerscylla/minimal-backend-framework.rs" />
		<app-project-card project="Nerscylla/angular-startpage" />
		<app-project-card project="Nerscylla/wallpaper-factory" />
		<app-project-card project="Nerscylla/chat-app-ws" />
	</div>
</div>

<div id="skills" class="page">
	<div class="heading-cont">
		<h2>My Skills</h2>
	</div>
	<div class="skill-grid skill-card-grid">
		<app-skill-card skill="AngularJS" />
		<app-skill-card skill="TypeScript" />
		<app-skill-card skill="PHP" />
		<app-skill-card skill="Python" />
	</div>
</div>

<div id="learning" class="page">
	<div class="heading-cont">
		<h2>I'm currently learning</h2>
	</div>
	<div class="learning-grid skill-card-grid">
		<app-skill-card skill="Rust" />
		<app-skill-card skill="discord.js" />
		<app-skill-card skill="C#" />
	</div>
</div>

<div id="contact" class="page">
	<div class="heading-cont">
		<h2>Contact Me</h2>
	</div>
	<div class="contact-links">
		<a href="https://github.com/Nerscylla" target="_blank">
			<ng-icon name="simpleGithub"></ng-icon>
		</a>
		<a href="https://discord.com/users/799599681280802848" target="_blank">
			<ng-icon name="simpleDiscord"></ng-icon>
		</a>
		<a href="https://www.instagram.com/nerscylla07/" target="_blank">
			<ng-icon name="simpleInstagram"></ng-icon>
		</a>
	</div>
</div>